* {
  background-image: url(https://picsum.photos/1920);
  background-size: cover;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-size: cover;
  background-color: #222;
  color: white;
}

.landing {
  height: 100vh;
  background-color: #555;
  display: grid;
  place-items: center;
}

.timeline-container {
  display: grid;
  grid-template-columns: 1fr 10% 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.timeline-line {
  background-color: white;
  width: 10px;
  justify-self: center;
  height: 100%;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 5;
}

.timeline-item {
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  justify-self: center;
  align-self: center;
  background-color: #555;
  padding: 10%;
  margin: 10px;
}

.item-1 {
  grid-column: 3;
  grid-row: 1;
}

.item-2 {
  grid-column: 1;
  grid-row: 2;
}

.item-3 {
  grid-column: 3;
  grid-row: 3;
}

.item-4 {
  grid-column: 1;
  grid-row: 4;
}
